<mat-card class="card-vr-chart">
    <mat-card-header>
      <mat-card-title>Project </mat-card-title>
      
    </mat-card-header>
  
    <mat-card-content class="card-vr-chart-body">
      <div class="card-vr-chart-data">
        <canvas id="doughnutchart_canvas">{{ doughnutchart }}</canvas>
      </div>
      <mat-divider class="divider"></mat-divider>
      <mat-card-footer>
        <button mat-icon-button class="card-vr-footer-button">
        <mat-icon>refresh</mat-icon>
      </button>
      Refresh
      </mat-card-footer>
    </mat-card-content>
  </mat-card>