<div class="card-layout-container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <app-card-sm cardData='Start Date'></app-card-sm>
      </div>
      <div class="col-lg-3 col-md-6">
        <app-card-sm cardData='Due Date'></app-card-sm>
      </div>
      <div class="col-lg-3 col-md-6">
        <app-card-sm cardData='Budget'></app-card-sm>
      </div>
      <div class="col-lg-3 col-md-6">
        <app-card-sm cardData='Employees'></app-card-sm>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-6">
        <app-card-vr-chart></app-card-vr-chart>
      </div>
      <div class="col-sm-6">
        <app-card-hr-chart></app-card-hr-chart>
      </div>
    </div>
  </div>