<div class="navigation-container" [class.navigation-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="header">
        <mat-toolbar-row class="header-row">
        
            <span>Third Line</span>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="profileMenu">
                <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Toolbar profile icon">
                    account_circle
                </mat-icon>
            </button>
            <mat-menu #profileMenu="matMenu">
                <!-- <button mat-menu-item>Profile</button>
                <mat-divider></mat-divider> -->
                <button mat-menu-item>Log Out</button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>



<mat-card class="task-card">
    <mat-card-header class="task-card-header">
        <mat-card-title>
            Assigned SubTask
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="container pt-5">
    
            <form #UpdateForm="ngForm">
                <table class="table text-center table-borderless">
                    <thead>
                        <tr class="alignment text-uppercase">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Progress</th>
                            <th scope="col">Update</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <!-- <tr *ngFor="let taskdetail of tasks">-->
                        <tr *ngFor="let subtask of subtasks;let i=index">
                            <th scope="row">{{subtask.subTaskId}}</th>
                            <td>{{subtask.subTaskTitle}}</td>
                            <td>{{subtask.subTaskDescription}}</td>
                            <td>{{subtask.startDate | date: "MM/dd/yy"}}</td>
                            <td>{{subtask.dueDate | date: "MM/dd/yy" }}</td>
    
    
                            <td>
                                <progress-bar [progress]="subtask.progressPercentage" id="progress-bar"
                                    [color-degraded]="{'0': '#ff0000',  '15': '#ed5107', '50': '#40bfc1', '70' : '#a8ff3e'}">
                                </progress-bar>
                                <input type="text" value="{{subtask.progressPercentage}}" id="progress-text"
                                    class="noborder" style="display: none;" [(ngModel)]="subtask.progressPercentage"
                                    name="progress-text">
                                <br />
                                <textarea id="progress-comment" style="display: none;" [(ngModel)]="subtask.comment"
                                    name="progress-comment" required>
                                </textarea>
    
                            </td>
                            <td>
                                <button id="OnComment" type="button" [disabled]="subtask.progressPercentage>100"
                                    class="btn btn-info btn-sm" (click)="update(i)">Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </mat-card-content>
</mat-card>
</div>