<mat-card class="card-hr-chart">
    <mat-card-header>
      <mat-card-title>{{ ChartHeader }}</mat-card-title>
     
    </mat-card-header>
    <mat-card-content class="card-hr-chart-body">
      <div class="card-hr-chart-data">
        <canvas id="barchart_canvas">{{ barchart }}</canvas>
      </div>
      <mat-divider class="divider"></mat-divider>
  
      <mat-card-footer>
        <button mat-icon-button class="card-hr-footer-button">
        <mat-icon>refresh</mat-icon>
      </button>
      Refresh
      </mat-card-footer>
    </mat-card-content>
  </mat-card>