.card-layout-container{
    margin: 1rem;
}

.card{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);  
}

.card-body{
    display: flex;
    justify-content: space-between;
}
.card-body i{
    
    font-size: 4rem;
}

.card-data{
    
    margin-right: 10px;
    
}