.task-card{
    margin: 1rem;
    border: 1px solid #00000020;
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    background-color: white;
}

button:focus{
    outline: none;
}

.task-progress-container{
    height: 5rem;
    width: 5rem;
}

td{
    vertical-align: middle;
    text-align: -webkit-center;
}

.task-card-header{
    display: flex;
    justify-content: space-between;
}

.task-button{
    height: 2rem;
}