
<div class="container bg-light shadow bg-white rounded" style="margin-top:2% ; margin-bottom: 2%;padding:2%;">
    <div style="text-align: center;"><h4>Create Project</h4></div>

        <form class="m-3" (ngSubmit)=" onSubmit()" #projectCreateForm="ngForm">
    
            <div class="form-group">
                <label for="inputTitle">Project Title<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputTitle" minlength="10"
                    [(ngModel)]="projectMapper.name" name="name" placeholder="Project title" required
                    #name="ngModel" [ngClass]="{
                        'has-danger': name.invalid && (name.dirty || name.touched),
                        'has-success': name.valid && (name.dirty || name.touched) }">
    
                <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)"
                class="alert alert-danger">
                    <div *ngIf="name.errors.required">Project name is required. </div>
                    <div *ngIf="name.errors.minlength">Project name must be at least 10 characters long.</div>
                </div>
    
            </div>
    
            <div class="form-row">
    
                <div class="form-group col-md-6">
                    <label for="inputStartDate">Project Start Date<span class="text-danger">*</span></label>
                    <input type="date" class="form-control" id="inputStartDate" [(ngModel)]="projectMapper.startDate"
                        name="startDate" placeholder="Start Date" max="{{projectCreateForm.value.endDate}}" required
                        #startDate="ngModel" [ngClass]="{
                            'has-danger': startDate.invalid && (startDate.dirty || startDate.touched),
                            'has-success': startDate.valid && (startDate.dirty || startDate.touched) }">
    
                    <div class="form-control-feedback" *ngIf="startDate.errors && (startDate.dirty || startDate.touched)"
                    class="alert alert-danger">
                        <div *ngIf="startDate.errors.required">Project start date is required. </div>
                    </div>
                </div>
    
                <div class="form-group col-md-6">
                    <label for="inputEndDate">Project Deadline<span class="text-danger">*</span></label>
                    <input type="date" class="form-control" id="inputEndDate" [(ngModel)]="projectMapper.endDate"
                        name="endDate" placeholder="End Date" min="{{projectCreateForm.value.startDate}}" required
                        #endDate="ngModel" [ngClass]="{
                            'has-danger': endDate.invalid && (endDate.dirty || endDate.touched),
                            'has-success': endDate.valid && (endDate.dirty || endDate.touched) }">
    
                    <div class="form-control-feedback" *ngIf="endDate.errors && (endDate.dirty || endDate.touched)"
                    class="alert alert-danger">
                        <div *ngIf="endDate.errors.required">Project end date is required. </div>
                    </div>
                </div>
    
            </div>
    
    
    
    
            <div class="form-group">
                <label for="inputBudget">Project Budget<span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="inputBudget" placeholder="Enter the project budget"
                    [(ngModel)]="projectMapper.budget" name="budget" #budget="ngModel" required [ngClass]="{
                        'has-danger': budget.invalid && (budget.dirty || budget.touched),
                        'has-success': budget.valid && (budget.dirty || budget.touched) }">
    
                <div class="form-control-feedback" *ngIf="budget.errors && (budget.dirty || budget.touched)"
                class="alert alert-danger">
                    <div *ngIf="budget.errors.required">Project budget is required. </div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="ProjectDescriptionLink">Github Link<span class="text-danger">*</span></label>
                <input type="url" class="form-control" id="ProjectDescriptionLink" placeholder="Github Link"
                    [(ngModel)]="projectMapper.githubLink" name="githubLink" #githubLink="ngModel" required
                    pattern="https?://.+" url [ngClass]="{
                        'has-danger': githubLink.invalid && (githubLink.dirty || githubLink.touched),
                        'has-success': githubLink.valid && (githubLink.dirty || githubLink.touched) }">
    
    
                <div class="form-control-feedback" *ngIf="githubLink.errors && (githubLink.dirty || githubLink.touched)"
                class="alert alert-danger">
                    <div *ngIf="githubLink.errors.required">Site is required</div>
                    <div *ngIf="githubLink.errors.pattern">Must be a valid site URL</div>
                </div>
            </div>
    
    
    
            <div class="form-group">
                <label for="inputProjectDesc">Project Description</label>
                <textarea type="text" class="form-control" id="inputProjectDesc" minlength="10" autosize
                    [(ngModel)]="projectMapper.projectDesc" name="projectDesc" placeholder="Project description"
                    #projectDesc="ngModel" [ngClass]="{
                        'has-danger': projectDesc.invalid && (projectDesc.dirty || projectDesc.touched),
                        'has-success': projectDesc.valid && (projectDesc.dirty || projectDesc.touched) }">
                </textarea>
    
                <div class="form-control-feedback" *ngIf="projectDesc.errors && (projectDesc.dirty || projectDesc.touched)"
                class="alert alert-danger">
                    <div *ngIf="projectDesc.errors.minlength"> Project Description must be at least 10 characters long.
                    </div>
                </div>
    
            </div>
    
            <div class="form-group">
                <label for="inputStakeholders">Project Stakeholders<span class="text-danger">*</span></label>
                <textarea type="text" class="form-control" id="inputStakeholders" autosize minlength="4"
                    [(ngModel)]="projectMapper.stakeholders" name="stakeholders" placeholder="Enter various stakeholders"
                    required #stakeholders="ngModel" [ngClass]="{
                        'has-danger': stakeholders.invalid && (stakeholders.dirty || stakeholders.touched),
                        'has-success': stakeholders.valid && (stakeholders.dirty || stakeholders.touched) }">
                </textarea>
    
                <div class="form-control-feedback" *ngIf="stakeholders.errors && (stakeholders.dirty || stakeholders.touched)"
                class="alert alert-danger">
                    <div *ngIf="stakeholders.errors.required"> Project stakeholders details are required.</div>
                    <div *ngIf="stakeholders.errors.minlength">Project stakeholders details must be at least 10 characters long.
                    </div>
                </div>
    
    
            </div>
    
    
    
            <div class="form-group">
                <label for="managerFormControlList"> Manager <span class="text-danger">*</span> </label>
    
                <select id="managerFormControlList" class="form-control" [(ngModel)]="projectMapper.managerEmail"
                    name="managerEmail" required #managerEmail="ngModel">
                    <option value="">Please select the manager</option>
                    <option *ngFor="let manager of employees">{{manager.username}}</option>
                </select>
    
                <div *ngIf="errormsg">
                    <p class="alert alert-warning">Sorry!! No managers are avilable at the moment.</p>
    
                </div>
            </div>
    
            <!--
        
                    <div class="form-group">
                        <label> Manager
                            <input name="managerEmail" class="form-control" list=managerFormControlList type="text"
                                [(ngModel)]="projectMapper.managerEmail" placeholder="Select the manager" required #managerEmail="ngModel">
                        </label>
                        <datalist id="managerFormControlList">
                                <select>
                                    <option *ngFor="let manager of employees">
                                            {{manager.email}}   
                                    </option>
                                </select>
                        </datalist>
                    </div>
                -->
    
    
            <!--
                <div class="form-group">
                    <label for="ProjectDescriptionFile">Choose the project SRS</label>
                    <input type="file" class="form-control-file" id="ProjectDescriptionFile">
                </div>
        -->
            <!--
            <button type="submit" class="text-center btn btn-primary" [disabled]="!projectCreateForm.form.valid">SUBMIT</button>
            -->
            <button type="submit" class="text-center btn btn-primary" [disabled]="!projectCreateForm.form.valid">SUBMIT</button>
    
        </form>
    
    </div>
